extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus nibh dolor, a consequat augue auctor eu. Donec sit amet ligula convallis, pharetra arcu non, pharetra enim. Proin elit dolor, aliquam vitae nisl bibendum, mollis molestie justo. Sed rutrum iaculis luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                p Quisque rutrum orci a metus fermentum, in scelerisque nunc placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque et tincidunt eros. In bibendum sodales sapien feugiat vehicula. Integer tempor blandit nunc.

                p Nunc fringilla aliquam elit, ut egestas tortor gravida sit amet. Fusce fringilla, sem vitae vulputate posuere, eros ipsum suscipit nibh, auctor rutrum metus enim vel quam. Integer mollis dictum porta. Donec laoreet fermentum tortor. Morbi molestie iaculis augue ac pretium. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur id orci et erat ullamcorper gravida.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="margin-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur id orci et erat ullamcorper gravida.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="margin-fluid mb-4")
                    h2.mb-4 Destinos
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur id orci et erat ullamcorper gravida.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="margin-fluid mb-4")
                    h2.mb-4 Precios
                    p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur id orci et erat ullamcorper gravida.